<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue Task List</title>
</head>
<body>

<div id="app">
    <h1>{{title}}</h1>
    <form>
        <input type="text" v-model="items.text">
        <input @click="add" type="submit" value="Add">
    </form>

    <li v-for= "list in items">
        {{list.text}}
    </li>
</div>



<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'Todo List',
            items: [
                {text: 'item1'},
            ],
        },
        methods: {
            add: function(){
                this.items.push({text: this.items.text},)
            }
        }
    })
    
</script>
</body>
</html>